body{
    text-align: center;
}


.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.one{
    background-color: #d95980;
}

.two{
    background-color: #f99b45;
}
.three{
    background-color: #63aac0;
}
.four{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.user-flash{
    background-color: green;
}

.reset{
    background-color: red;
}